<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
	<link rel="stylesheet" href="/css/GasIndex.css">
	<script src="/js/GasIndex.js"></script>
</head>
<body>
    <div class="login-container">
        <h2>日本ガス登録画面</h2>
        <form th:action="@{/login}" method="post" onsubmit="validateForm(event)">
            <!-- 账号文本框 -->
            <label for="username">ユーザー:</label>
            <input type="text" id="username" name="username" placeholder="Enter your username" required>

            <!-- 密码文本框 -->
            <label for="password">パスワード:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
			<div class="options">
	            <!-- 记住密码复选框 -->
	            <div class="remember-me">
	                <input type="checkbox" id="remember-me" name="remember-me">
	                ログイン状態を保持
	            </div>
	            <!-- 忘记密码链接 -->
	            <a href="#" th:href="@{/forgot-password}">パスワードを忘れた方はこちら</a>
			</div>
            <!-- 登录按钮 -->
            <button type="submit">登録</button>
        </form>
    </div>
</body>
</html>
